@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body{
	background: url(nightcamp.jpg) no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
	display: flex;
}
.content
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info
{
	color: white;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
}
.info info
{
	margin-right: 20px;
	font-size: 25px;
}
.table
{
	max-width: 700px;
	max-height: 500px;
}
.info, .table
{
	flex: 1;
}
.table h1
{
	color: white;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.table .text-box
{
	background: #000;
	color: white;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.table .text-box:first
{
	margin-right: 15px;

}
.table textarea
{
	background: #000;
	color: white;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.table .send-b
{
	float: right;
	background: #2E94E3;
	color: white;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: 0.3s;
	transition-property: background;
	cursor: pointer;
}
.table .send-b:hover
{
	background: #0582E3;
}
@media screen and (max-width: 950)
{
	.content{
		flex-direction: column;
}
.info, .table{
	margin: 30px 50px;
}
.table h1{
	font-size: 30px;
}
.table .text-box{
	width: 100%;
}
}
.alert
{
	z-index: 1;
	background: #D4EDDA;
	font-size: 18px;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #3AD66E;
	border-radius: 4px;
}