@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 000px;
  background-size: cover;
}
.top-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.btn {
    position: relative;
    width: 160px;
    padding: 10px 12px;
    margin: 8px;

    border-radius: 10px;
    border: none;

    background: linear-gradient(to bottom, #4CAF50, #2E7D32);
    color: white;

    cursor: pointer;

    box-shadow:
        0 2px 0 #1b5e20,       
        0 6px 10px rgba(0,0,0,0.35), 
        inset 0 1px 0 rgba(255,255,255,0.25); 

    transition: all 0.3s ease;
}
  
.btn span {
    cursor: pointer;
    display: flex;             
    align-items: center;       
    gap: 10px;                 
    position: relative;
    transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
  color: black;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.div{
  position: relative;
  top: 100px;
}
.video{
  position: absolute;
  top: 0;
  left: 0;
  
  width:  100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.footer h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.footer p {
    margin-bottom: 15px;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* SQUARE ICON STYLE */
.social-icons a img {
    width: 55px;
    height: 55px;

    /* WHITE INSIDE */
    background-color: white;
    padding: 1px;

    /* SQUARE SHAPE */
    border-radius: 10px;   /* adjust to 6px for sharper square */

    /* WHITE BORDER */
    border: 1px solid white;

    /* GLOW EFFECT */
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(255, 255, 255, 0.7),
        0 0 30px rgba(255, 255, 255, 0.5);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER EFFECT */
.social-icons a img:hover {
    transform: scale(1.15);
    box-shadow:
        0 0 15px rgba(255, 255, 255, 1),
        0 0 30px rgba(255, 255, 255, 0.9),
        0 0 45px rgba(255, 255, 255, 0.7);
}


